'use strict';

module.exports = {
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "parser": "babylon",
    "printWidth": 100,
    "proseWrap": "preserve",
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": 'es5',
    "semi": false,
};